<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
      
      <%= f.label :surname %>
      <%= f.text_field :surname, class: 'form-control' %>
      
      <%= f.label :age %>
      <%= f.text_field :age %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>>
      
      <%= f.label :home_address %>
      <%= f.text_field :home_address %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>


      <%= f.submit "Create Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>