<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        Welcome, <%= @user.first_name %>
      </h1>
    </section>
  </aside>
</div>